<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Salas VUE</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="/componentes/menu.js"></script>
    <link rel="stylesheet" href="../materialize.css">
</head>

<body>

    <div class="row">
        <componente-menu></componente-menu>
    </div>


    <div id="app" class="container">

        <h3 class="center-align">Cadastre uma sala</h3>

        <hr>

        <input type="hidden" id="id" v-model="sala.id">

        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">pin</i>
                <input type="number" id="numero_sala" v-model="sala.numero">
                <label for="numero_sala">Número da Sala</label>
            </div>

            <div class="input-field col s6">
                <i class="material-icons prefix">grid_view</i>
                <input type="number" id="blocoSala" v-model="sala.bloco">
                <label for="blocoSala">Bloco</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">local_offer</i>
                <input type="text" id="apelidoSala" v-model="sala.apelido">
                <label for="apelidoSala">Apelido da Sala</label>
            </div>

            <div class="input-field col s6">
                <i class="material-icons prefix">class</i>
                <input type="text" id="tipoSala" v-model="sala.descricaoTipo">
                <label for="tipoSala">Tipo de sala</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">reduce_capacity</i>
                <input type="number" id="capacidadeSala" v-model="sala.capacidade">
                <label for="capacidadeSala">Capacidade</label>
            </div>
        </div>

        <div class="row">
            <div class="col s6 center-align">
                <a class="waves-effect waves-light btn-large blue accent-4" v-on:click="enviar">Cadastrar</a>
            </div>
            <div class="col s6 center-align">
                <a href="relatorio_salas.html" class="waves-effect waves-light btn-large red">Cancelar</a>
            </div>
        </div>
    </div>

    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="../common.js"></script>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                sala: {
                    id: null,
                    numero: null,
                    bloco: null,
                    apelido: null,
                    descricaoTipo: null,
                    capacidade: null,
                    situacao: null,
                }
            },
            methods: {
                enviar() {
                    fetch(api_url + '/sala', {
                        method: this.sala.id ? 'put' : 'post',
                        headers: api_headers,
                        mode: 'cors',
                        body: JSON.stringify(this.sala)
                    })
                        .then(res => { if (!res.ok) throw new Error(res.status) })
                        .then(() => window.location = 'relatorio_salas.html')
                        .catch(err => M.toast({ html: 'Problemas com a requisição: ' + err }))
                }
            },
            created() {

                if(sessionStorage.getItem('sala')) {
                    this.sala = JSON.parse(sessionStorage.getItem('sala'))
                    sessionStorage.removeItem('sala');
                }

            }

        })

    </script>
</body>

</html>