<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reserva de Salas VUE</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../materialize.css">
</head>

<body>



    <div id="app" class="container">

        <h3 class="center-align">Reserve uma sala</h3>

        <hr>

        <input type="hidden" id="id" v-model="idReserva">

        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">notes</i>
                <input placeholder="Justificativa" type="text" id="justificativa" v-model="justificativaReserva">
                <label for="justificativa">Justificativa</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">watch_later</i>
                <select id="turno" v-model="periodoReserva">
                    <option value="" disabled selected>Selecione o turno da reserva</option>
                    <option value="M">Matutino</option>
                    <option value="V">Vespertino</option>
                    <option value="N">Noturno</option>
                </select>
                <label for="turno">Turno</label>
            </div>

            <div class="input-field col s6">
                <i class="material-icons prefix">calendar_today</i>
                <input placeholder="Data" type="date" id="dataReserva" v-model="dataReserva">
                <label for="dataReserva">Data da Reserva</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">local_offer</i>
                <select id="sala" v-model="salaReserva">
                    <option value="" disabled selected>Escolha uma sala</option>
                    <option v-for="sala in salas" :value="sala">{{sala.apelido}}</option>
                </select>
                <label for="sala">Sala</label>
            </div>

            <div class="input-field col s6">
                <i class="material-icons prefix">person</i>
                <select id="professor" v-model="professorReserva">
                    <option value="" disabled selected>Selecione o professor</option>
                    <option v-for="professor in professores" :value="professor">{{professor.nome}}</option>
                </select>
                <label for="professor">Professor</label>
            </div>
        </div>

        <div class="row">

            <div class="col s12 center-align">
                <a class="waves-effect waves-light btn-large blue accent-4" v-on:click="cadastrar">Cadastrar</a>
            </div>

        </div>

    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="../common.js"></script>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                professores: [],
                salas: [],
                idReserva: null,
                professorReserva: null,
                salaReserva: null,
                justificativaReserva: null,
                dataReserva: null,
                periodoReserva: null
            },
            methods: {
                cadastrar() {
                    let cadastro = {
                        justificativa: this.justificativaReserva,
                        dataReserva: this.dataReserva,
                        periodo: this.periodoReserva,
                        idProfessor: this.professorReserva.id,
                        idSala: this.salaReserva.id
                    }

                    //Reservar Sala:
                    fetch(api_url + '/reserva', {
                        method: 'post',
                        headers: api_headers,
                        mode: 'cors',
                        body: JSON.stringify(cadastro)
                    })
                        .then(res => { if (!res.ok) throw new Error(res.status) })
                        .catch(err => M.toast({ html: 'Problemas com a requisição: ' + err }))

                }

            },
            created() {
                //Buscar salas:
                fetch(api_url + '/sala', {
                    method: 'get',
                    headers: api_headers,
                    mode: 'cors',
                })
                    .then(res => {
                        if (!res.ok) throw new Error(res.status)
                        return res.json()
                    })
                    .then(data => { this.salas = data.salas })
                    .then(() => {
                        var elems = document.querySelectorAll('select');
                        M.FormSelect.init(elems, {});
                    })
                    .catch(err => M.toast({ html: 'Problemas com a requisição: ' + err }))


                //Buscar professores:
                fetch(api_url + '/professor', {
                    method: 'get',
                    headers: api_headers,
                    mode: 'cors',
                })
                    .then(res => {
                        if (!res.ok) throw new Error(res.status)
                        return res.json()
                    })
                    .then(data => { this.professores = data.professores })
                    .then(() => {
                        var elems = document.querySelectorAll('select');
                        M.FormSelect.init(elems, {});
                    })
                    .catch(err => M.toast({ html: 'Problemas com a requisição: ' + err }))
            }
        })
    </script>

</body>